name: Build and Test

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - release/*
    - feature/*
    - bug/*
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    name: Build
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Setup dotnet
      uses: fast-actions/setup-dotnet@v1
      with:
        sdk-version: |
          8.0.x
          10.0.x

    - name: Build
      run: |
        dotnet tool restore
        dotnet build --configuration Release

    - name: Show Version
      run: dotnet tool run dotnet-gitversion

    - name: Test
      run: dotnet test --configuration Release --no-build

    - name: Pack
      run: |
        dotnet pack --configuration Release --no-build --output ./artifacts

    - uses: actions/upload-artifact@v6
      with:
        name: nugets
        path: artifacts/*
        if-no-files-found: error
